target/classes/vm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <vm:connector name="VM1" validateConnections="true" doc:name="VM"/>
    <flow name="vmFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/VM" doc:name="HTTP"/>
        <set-variable variableName="FlowVar" value="#[&quot;This is FlowVar&quot;]" doc:name="Variable"/>
        <set-session-variable variableName="FlowSessionVar" value="#[&quot;This is FlowSession Var&quot;]" doc:name="Session Variable"/>
        <set-payload value="#[&quot;This is Main Flow Set Payload&quot;]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <logger message="#[flowVars.FlowVar]" level="INFO" doc:name="Logger"/>
        <logger message="#[sessionVars.FlowSessionVar]" level="INFO" doc:name="Logger"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="Zakeer" connector-ref="VM" doc:name="VM"/>
    </flow>
    <flow name="PrivateVMFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="Zakeer" connector-ref="VM" doc:name="VM">
            <vm:transaction action="NONE"/>
        </vm:inbound-endpoint>
        <set-payload value="#[&quot;This is Private Flow Set Payload&quot;]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <logger message="#[sessionVars.FlowSessionVar]" level="INFO" doc:name="Logger"/>
        <logger message="#[flowVars.FlowVar]" level="INFO" doc:name="Logger"/>
		<logger message="#[flowVars.FlowVar]This is DEV GIT" level="INFO" doc:name="Logger"/>
        <logger message="#[&quot;One Logger is ADDED for GIT&quot;]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
